{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pucobre | Registro de Accionistas</title>

	<!-- Global stylesheets -->
	<link href="{% static 'assets/fonts/inter/inter.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/icons/phosphor/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/ltr/all.min.css' %}" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'assets/demo/demo_configurator.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'assets/js/app.js' %}"></script>
	<!-- /theme JS files -->

</head>

<body class="bg-dark">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

					{% block login_card %}
					{% endblock %}

				</div>
				<!-- /content area -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	

</body>
</html>
