{% extends "./base_login.html" %}
{% load static %}

{% block login_card %}

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

				{% if validlink %}
					<!-- Password recovery form -->
					<form class="login-form" method="POST">
						{% csrf_token %}
						<div class="card mb-0">
							<div class="card-body">
								<div class="text-center mb-3">
									<div class="d-inline-flex bg-primary bg-opacity-10 text-primary lh-1 rounded-pill p-3 mb-3 mt-1">
										<i class="ph-arrows-counter-clockwise ph-2x"></i>
									</div>
									<h5 class="mb-0">Recuperar Contraseña</h5>
									<span class="d-block text-muted">Ingrese su nueva contraseña.</span>
								</div>

								<div class="mb-3">
									<label class="form-label">Contraseña</label>
									<div class="form-control-feedback form-control-feedback-start">
										<input type="password" class="form-control" placeholder="•••••••••••" name="new_password1" id="id_new_password1">
										<div class="form-control-feedback-icon">
											<i class="ph-at text-muted"></i>
										</div>
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label">Confirmación de su contraseña</label>
									<div class="form-control-feedback form-control-feedback-start">
										<input type="password" class="form-control" placeholder="•••••••••••" name="new_password2" id="id_new_password2">
										<div class="form-control-feedback-icon">
											<i class="ph-lock text-muted"></i>
										</div>
									</div>
								</div>

								<button type="submit" class="btn btn-primary w-100">
									<i class="ph-arrow-counter-clockwise me-2"></i>
									Guardar contraseña
								</button>
							</div>
						</div>
					</form>
					<!-- /password recovery form -->

				{% else %}


								<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

					<!-- Password recovery form -->

						<div class="card mb-0">
							<div class="card-body">
								<div class="text-center mb-3">
									<div class="d-inline-flex bg-primary bg-opacity-10 text-primary lh-1 rounded-pill p-3 mb-3 mt-1">
										<i class="ph-arrows-counter-clockwise ph-2x"></i>
									</div>
									<h5 class="mb-0">El cambio de clave falló</h5>
									<span class="d-block text-muted">El enlace para ingresar una nueva contraseña es inválido, posiblmente porque ya fue usado. Por favor, solicite nuevamente el cambio de contraseña.</span>
								</div>

							</div>
						</div>

					<!-- /password recovery form -->

				</div>

			    {% endif %}

			</div>
				<!-- /content area -->

{% endblock %}
