{% extends "./base_login.html" %}
{% load static %}

{% block login_card %}

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

						<div class="card mb-0">
							<div class="card-body">
								<div class="text-center mb-3">
									<div class="d-inline-flex bg-primary bg-opacity-10 text-primary lh-1 rounded-pill p-3 mb-3 mt-1">
										<i class="ph-arrows-counter-clockwise ph-2x"></i>
									</div>
									<h5 class="mb-0">Recuperar Contraseña</h5>
									<span class="d-block text-muted">¡Su contraseña ha sido cambiada!</span>
								</div>


								<a href="{% url 'index' %}" class="btn btn-primary w-100">
									<i class="ph-arrow-counter-clockwise me-2"></i>
									Volver al inicio
								</a>
							</div>
						</div>
					<!-- /password recovery form -->

				</div>
				<!-- /content area -->

{% endblock %}
